   <li id="ah_<%= aircraft_history.id %>">
      <%= aircraft_history.aircraft_sequence %>
      <%= aircraft_history.registration %>
      <%= aircraft_history.aircraft_details %>

      <%= link_to 'Delete Entry' , [aircraft_history.aircraft, aircraft_history],
                  :confirm => "Are you sure ?",
                  :method  => :delete
      %>
   </li>
