<%= form_for(@aircraft) do |f| %>
  <% if @aircraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aircraft.errors.count, "error") %> prohibited this aircraft from being saved:</h2>

      <ul>
      <% @aircraft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aircraft_type %><br />
    <%= f.text_field :aircraft_type %>
  </div>
  <div class="field">
    <%= f.label :constructors_number %><br />
    <%= f.text_field :constructors_number %>
  </div>
  <div class="field">
    <%= f.label :line_number %><br />
    <%= f.text_field :line_number %>
  </div>
  <div class="field">
    <%=
      # @statuses = AircraftStatus.find(:all, :order => "description")
      f.label :aircraft_status 
     %>
    <br />
    <%= f.collection_select(:aircraft_status_id, AircraftStatus.all, :id, :description) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
