<h1>Aircraft</h1>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    Search term:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>

<table>
  <tr>
    <th>Type</th>
    <th>C/N</th>
    <th>L/N</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aircraft.each do |aircraft| %>
  <tr>
    <td><%= aircraft.aircraft_type %></td>
    <td><%= aircraft.constructors_number %></td>
    <td><%= aircraft.line_number %></td>
    <td><%= aircraft.aircraft_status.description %></td>
    <td><%= link_to 'Show', aircraft %></td>
    <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
    <td><%= link_to 'Destroy', aircraft, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @aircraft %>

<%= link_to 'New Aircraft', new_aircraft_path %>
